.follow-view {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
}
.follow-view .follow-list {
    height: 600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    /*background: red;*/
}
 .follow-list-video{
    width: 100%;
    height: 70%;
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     margin-bottom: 10px;
}
